* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  // list-style: none;
}

body {
  background: url("../img/bg.png");
  font-size: 2rem;
.container{  
  height: 100vh;
  padding-top: 12.5vh;  
  //для выравнивания по вертикали
  .centered {
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12.5vh;    
    .subtitle{
      color: lawngreen;
    }    
    }
}
}