* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  // list-style: none;
}

body {
  background-color: burlywood;
  font-size: 2rem;
.container{  
  height: 100vh;
  padding-top: 12.5vh;  
  //для выравнивания по вертикали
  .centered {
    width: 50%;
    text-align: justify;
    border: none;
    margin-left: 10rem;
    margin-top: 12.5vh;
    border-left: 3px darkblue dashed;
    padding-left: 2rem;
  }
}
}